language: java
sudo: false
addons:
    sonarcloud:
        organization: "bentobox-world"
        token:
            secure: $SONAR_TOKEN
jdk:
    - openjdk8
    - openjdk11
    
matrix:
  allow_failures:
    - jdk: openjdk11
    
script:
    #- sonar-scanner
    - mvn clean verify sonar:sonar -Pcoverage -Dsonar.projectKey=BentoBoxWorld_BentoBox
    #- mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent package -P sonar sonar:sonar -B
    #- echo "${TRAVIS_PULL_REQUEST_BRANCH:-$TRAVIS_BRANCH}"
cache:
    directories:
        - '$HOME/.m2/repository'
        - '$HOME/.sonar/cache'
