# BentoBox Configuration 1.0-SNAPSHOT
# This config file is dynamic and saved when the server is shutdown.
# You cannot edit it while the server is running because changes will
# be lost! Use in-game settings GUI or edit when server is offline.
general:
  # BentoBox uses bStats.org to get global data about the plugin to help improving it.
  # bStats has nearly no effect on your server's performance and the sent data is completely
  # anonymous so please consider twice if you really want to disable it.
  metrics: true
  # Default language for new players.
  # This is the filename in the locale folder without .yml.
  # If this does not exist, the default en-US will be used.
  default-language: en-US
  # Use economy or not. If true, an economy plugin is required. If false, no money is used or give.
  # If there is no economy plugin present anyway, money will be automatically disabled.
  use-economy: true
  database:
    # YAML, JSON, MYSQL, MONGODB.
    # YAML and JSON are both file-based databases.
    # If you use MONGODB, you must also run the BSBMongo plugin (not addon).
    # See https://github.com/tastybento/bsbMongo/releases/.
    type: YAML
    host: localhost
    # Port 3306 is MySQL's default. Port 27017 is MongoDB's default.
    port: 3306
    name: BSkyBlock
    username: username
    password: password
    # How often the data will be saved to file in mins. Default is 5 minutes.
    # This helps prevent issues if the server crashes.
    # Data is also saved at important points in the game.
    backup-period: 5
  # Allow FTB Autonomous Activator to work (will allow a pseudo player [CoFH] to place and break blocks and hang items)
  # Add other fake player names here if required
  # /!\ This feature is experimental and might not work as expected or might not work at all.
  fakeplayers:
    - '[CoFH]'
  # Allow obsidian to be scooped up with an empty bucket back into lava
  # This only works if there is a single block of obsidian (no obsidian within 10 blocks)
  # Recommendation is to keep this true so that newbies don't bother you or reset their
  # island unnecessarily.
  allow-obsidian-scooping: true
  # Rank required to use a command. e.g., use the invite command. Default is owner rank is required.
  rank-command: {}
panel:
  close-on-click-outside: true
island:
  cooldown:
    # How long a player must wait until they can rejoin a team island after being
    # kicked in minutes. This slows the effectiveness of players repeating challenges
    # by repetitively being invited to a team island.
    invite: 60
    # How long a player must wait until they can coop a player in minutes.
    coop: 5
    # How long a player must wait until they can trust a player in minutes.
    trust: 5
    # How long a player must wait until they can ban a player
    # after unbanning them. In minutes.
    ban: 10
    # How long a player must wait before they can reset their island again in seconds.
    reset: 300
  confirmation:
    # Time in seconds that players have to confirm sensitive commands, e.g. island reset
    time: 10
    commands:
      # Ask the player to confirm the command he is using by typing it again.
      # The 'wait' value is the number of seconds to wait for confirmation.
      kick: true
      leave: true
      reset: true
  name:
    # These set the minimum and maximum size of a name.
    min-length: 4
    max-length: 20
  # Number of blocks to paste per tick when pasting a schem
  # Smaller values will help reduce noticeable lag but will make pasting take longer
  paste-speed: 1000
  # /!\ This feature is experimental and might not work as expected or might not work at all.
  custom-ranks: {}
# These settings should not be edited
uniqueId: config
